.LocationRemove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  flex: 1;
}

.LocationRemove-label {
  padding: 1%;
  margin-top: 1%;
}

.LocationRemove-input {
  padding: 1%;
  margin-bottom: 1%;
}

.LocationRemove-button {
  padding: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

