.InfoWindow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.InfoWindow-streetView {
  width: 200px;
  height: 200px;
}

.InfoWindow-wiki {
  width: 200px;
  height: 200px;
}
